<!Doctype html>
<html>
<head>
<!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
<link rel='stylesheet' href='/main.css' />
</head>
<body>
<h1><a href='/arcs'>arcs</a> <a href='/'>and</a> <a href='/nodes'>nodes</a></h1>
<%= body %>
</body>
</html>

