<!Doctype html>
<html>
<head>
<!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
<link rel='stylesheet' href='/main.css' />
<script type='text/javascript' src="http://code.jquery.com/jquery-2.0.3.min.js" >
</script>
</head>
<body>
<h1><a class=Arcs href='/arcs'>arcs</a> <a href='/'>and</a> <a class='Nodes' href='/nodes'>nodes</a></h1>
<%= body %>
</body>
</html>

