body {
	/* font-family: "Courier New", courier, times; */
	font-family: serif;
}

body  div.Item {
	margin: 3px;
	padding: 13px;
}
div.Arc {
	background-color: #eeeeee;
	border-left: dotted 3px #9f7;
	background-color: #f3ffef;
}
div.Node {
	border-left: dotted 3px #f97;
	background-color: #fff3ef;
}

body  div.Item > h3  {
	color:white;
	Xborder-bottom-style: dotted;
	padding: 4px;
	margin: -13px;
}

a.Class, a.Instance,
a.Class:visited, a.Instance:visited
{ 
	border-bottom-style: dotted;
	border-bottom-width: 3px;
}
a.Class:active, a.Instance:active{
	color: red
}

a.Class:hover, a.Instance:hover
{
	color: blue;
}
body div.Node > h3 {
	xborder-bottom: dotted 3px #f97;
	background-color: #ffe9e1;
}

a.Node, a.Nodes {
	border-bottom-color: #f97;
}
div.Arc > h3{
	xborder-bottom: dotted 3px #9f7;
	background-color: #e9ffe1;
}

a.Arc, a.Arcs {
	border-bottom-color: #9f7;
}

code, pre {
	color: #54ce22;
}

pre {
	background-color: #eee;
	border: dotted 1px #777;
	margin: 9px;
	padding: 3px;
	display: block;
	white-space: pre-wrap;

}

div.path {
	margin: 3px;
	padding: 3px;
	background-color: #aaa;
	border: solid 1px black;
	display: none
}

h1{
	border-bottom: solid 1px black;
	text-align: right;
}

div.columns { display: table }
div.columns div.row { display: table-row }
div.columns div.row div.cell { display: table-cell }

dt {
	font-style: italic;
	font-weight: bold;
	line-height: 1.4;
	margin-top: 3px;
	margin-left: 3px;
}
dd {
	margin-bottom: 3px;
	margin-left: 1.1em;
	padding-left: .2em;
	border-left: dotted 1px;
}
